name: Python

on:
  push:
    paths: 
    - "**.py"
    - "rust/fizzbuzzo3/src/*.rs"
    - "pyproject.toml"
    - ".github/workflows/python.yml"
  pull_request:
  workflow_call:

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [
            "3.10",
            "3.11",
            "3.12",
            "3.13",
            "3.14"
        ]

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[test]
    - name: Test with pytest
      run: |
        pytest
        
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Ruff
      uses: chartboost/ruff-action@v1